.btn-custom {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.btn-icon {
	padding: 8px;
	background: #ffffff;
  
}

.txt {
	
		font-size: 30px;
		font-weight: 300;
		margin-bottom: 100px;
		color: rgb(1, 14, 14);
		
}