<div class="card">
    <div class="card-header">Filtro de Preço</div>
    <div class="card-body">
        <div class="form-group">
            <label for="de">De</label>
            <input type="number" step="0.01" min="0" id="de" class="form-control">
        </div>

        <div class="form-group">
            <label for="de">Até</label>
            <input type="number" step="0.01" min="0" id="ate" class="form-control">
        </div>
        <br>
        <button class="btn btn-primary btn-block btn-sm">Filtro</button>
    </div>
</div>