
#myCarousel .carousel-inner {
    height: 90vh;
}

#myCarousel .carousel-caption{
    top: 30%;
}

#myCarousel .carousel-caption h3 {
    font-size: 50px;
    margin-bottom: 30px;
}

#myCarousel .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: azure;
}

.carousel-indicators .active {
    background-color: aqua;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position:relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}