
<!--
<p>Como criar um front-end de um e-commerce utilizando Angular</p>
<div class="container">
<div id="myCarousel" class="carousel slide" data-bs-ride="true">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="./assets/images/img1.jpg"  alt="Chania">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>LA is always so much fun!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./assets/images/img2.jpg"   alt="Chicago">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="./assets/images/img2.jpg"   alt="New York">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
-->


<div class='container-fluid fa fa-align-center '>  
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="../assets/images/DIO.png" width="900px" height="550px"  alt="logo DIO">  
              <div class="carousel-caption">  
                  <h1 >
                  Este é o Projeto de Codigo da DIO!
                  </h1>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/images/PHILIPS.png" width="900px" height="550px" alt="Logo Bootcamp">  
              <div class="carousel-caption">  
                  <h1 style="color: yellow">
                    Bootcamp Philips Fullstack Developer | You Are You - DIO
                  </h1>  
                  <h2 style="color: yellow">
                    Como criar um front-end de um e-commerce utilizando Angular
                  </h2>
              </div>  
          </ng-template>  
        
      </ngb-carousel>  
  </div>  

</div>  