
<div class='container-fluid fa fa-align-center '>  
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="../assets/images/DIO.png" width="900px" height="550px"  alt="logo DIO">  
                <div class="carousel-caption">
                  <h1>
                    Este é o Projeto de Codigo da DIO!
                  </h1>
                  
                </div>         
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/images/PHILIPS.png" width="900px" height="550px" alt="Logo Bootcamp">  
              <div class="carousel-caption">  
                  <h1 style="color: yellow">
                    Bootcamp Philips Fullstack Developer | You Are You - DIO
                  </h1>  
                  <h2 style="color: yellow">
                    Como criar um front-end de um e-commerce utilizando Angular
                  </h2>
              </div>  
          </ng-template>  
        
      </ngb-carousel>  
  </div>  

</div>  